@font-face {
    font-family: Nova Flat;
    src: url(NovaFlat-Regular.ttf);
}
*{
    margin: 0%;
    padding: 0%;
    font-family: Nova Flat;
    
}
@keyframes change{
   from { color:rgb(0, 0, 0, 0.1)}
   to { color: white}
   
}

body{
    color: white;
    background-color: black;
}

ul{
    top: 6%;
    float: right;
    left: 50%;
    position: fixed;
    list-style-type: square;
    font-size: 20px;
    animation: change 7s step-end both;
    
}


ul li{
    display: inline-block

}
#void{
    position: fixed;
    top: 0%;
    min-width: 100%;
    min-height: 100%;
}

.main{
    position:absolute;
    margin: 20%;
    text-align: center;
    font-size: 80px;
    animation: change 3s step-end both;

}
info{
    font-size: 25px;
    color: white;
    animation: change 3s step-end both;
}

ul li a{
    text-decoration: none;
    padding: 5px 20px;
    color: white;
    transition: 0.6s ease;
    border-style: ridge;
    border-width: 1px;
    border-radius: 35px;
    border-color: black;
    animation: change 7s step-end both;


}

ul li a:hover{
    background-color: white;
    color: black;
}

.heading{
    position: fixed;
    font-size: 60px;
    top:3%;
    left: 3%;
    animation: change 5s step-end both;
}
.name{
    color: rgb(0, 0, 0, 0.3);
    border-style:double;
    padding: 10px 40px;
    border-width: 10px;
    animation: change 3s step-end both;
    
}

.nav{
    height: 15%;
    position: absolute;
    top:0%;
    left: 0%;
    right: 0%;
    background-color: rgb(0, 0, 0, 0.3);
}

.name:hover{

    color:white;
    transition: 2s ease;

}

@media only screen and (max-width: 900px) { 

.main{
    top: 60%;
    position:absolute;
    text-align: center;
    font-size: 60px;
    left: -10%;
    animation: change 3s step-end both;

    
}

ul{
    top: 10%;
    float: right;
    left: 7%;
    position: fixed;
    list-style-type: square;
    font-size: 20px;
    animation: change 3s step-end both;
    
}

.nav{

    height: 30%;
    width: 200%;
    position: absolute;
    top:0%;
    background-color: rgb(0, 0, 0, 0.3);
}

.heading{
    text-align: center;
    left: 40%;
    font-size: 60px;
    top:3%;
}

    
}